
:root {
  
  --nms-espaco-escuro: #03060c; 
  --nms-azul-galaxia:  #1A2332; 
  --nms-cinza-nave:    #2D3748; 
  --nms-roxo-nebular:  #6F42C1; 
  --nms-ciano-portal:  #34e7ff;
  --nms-poeira-estelar:#F8FAFC; 
  --nms-alerta:        #FF4B4B; 

  --bg-principal:      var(--nms-espaco-escuro);
  --bg-card:           var(--nms-azul-galaxia);
  --bg-destaque:       var(--nms-cinza-nave);
  
 
  --texto-primario:    var(--nms-poeira-estelar);
  --texto-secundario:  #A0AEC0;
  --texto-claro:       #FFFFFF;

  --cor-primaria:      var(--nms-azul-galaxia);
  --cor-primaria-hover:#243044;
  --cor-secundaria:    var(--nms-roxo-nebular);
  
  --cta-fundo:         var(--nms-ciano-portal);
  --cta-fundo-hover:   #66d891;
  --cta-texto:         #0F141D; 

  --borda-padrao:      var(--nms-cinza-nave);
  --sombra-card:       0 4px 10px rgba(0, 0, 0, 0.4);
}

body {
 /* background-color: var(--bg-principal); */
  background: url('assets/nms.png') no-repeat center / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--cta-fundo);
  text-align: center;
}
.subtitulo {
  color: var(--texto-secundario);
  margin-bottom: 15px;
}
#form {
  background-color: var(--bg-card);
  border-radius: 4px;
  padding: 20px;
  width: 40%;
  max-width: 450px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  color: var(--cta-fundo);
}
input {
  background-color: var(--bg-principal);
  border: 1px;
  color: var(--texto-primario);
  padding: 5px 5px;
  border-radius: 4px;
}

input:focus {
  border-color: var(--cta-fundo);
}

.painel-botoes-form, #painel-botoes {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

#painel-botoes {
  margin-bottom: 25px;
}

button {
  background-color: var(--cta-fundo);
  color: var(--cta-texto);
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: var(--cta-fundo-hover);
}

/* Deixando os botões de fora do form com a cor secundária pra dar contraste maneiro */
#painel-botoes button {
  background-color: var(--cor-secundaria);
  color: var(--texto-claro);
}

#painel-botoes button:hover {
  background-color: #58339C;
}

/* cards dos platenas*/
#painel-planetas {
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
flex-wrap: wrap;
}

.card-planeta {
  background-color: var(--bg-card);
  border: 1px solid var(--borda-padrao);
  border-left: 5px solid var(--cta-fundo); /* Detalhe colorido na esquerda */
  border-radius: 6px;
  padding: 15px;
  width: 260px;
  box-shadow: var(--sombra-card);
}

.card-planeta h2 {
  color: var(--cta-fundo);
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--borda-padrao);
  padding-bottom: 5px;
}

.card-planeta p {
  font-size: 0.9rem;
  margin-bottom: 6px;
  color: var(--texto-primario);
}

.card-planeta strong {
  color: var(--texto-secundario);
}

.id-text {
  font-size: 0.75rem !important;
  color: var(--texto-secundario) !important;
  margin-top: 12px !important;
  text-align: right;
}
#div-id{
    display: none;
}

.msg-vazio {
  color: var(--texto-secundario);
  font-style: italic;
}